## Reading data

You can find the data here: <a href="https://catalog.data.gov/dataset/eia-annual-energy-outlook-for-2011-all-tables-de75e">data.gov</a><br>
This lecture is based on <a href="https://docs.python.org/2/tutorial/inputoutput.html">the python tutorial I/O</a>

Let's start by looking at the file.  Notice that there are several lines that separate different tables, that there are quotes surrounding strings, and it is comma delimited.

In [1]:
!head data/1-AEO2011.csv

Let's start by using read and readline.  If we want to separate the line into different elements, then we need to do this manually with split and strip.

In [2]:
with open('data/1-AEO2011.csv','r') as govdat: #with ... as ... don't have to close file  
    print(govdat.read()[0:100]) #read reads the file as 1 string

1-AEO2011,,"Case","Region","Row","Quantity","Units (unless otherwise specified)",2008,2009,2010,2011

In [7]:
with open('data/1-AEO2011.csv','r') as govdat: #opened file and read the first line
    govhead = govdat.readline()

In [8]:
header = [name.strip('"\n') for name in govhead.split(',')] #split by coma, remove quotation marks and new lines

In [9]:
header[0:10]

['1-AEO2011',
 '',
 'Case',
 'Region',
 'Row',
 'Quantity',
 'Units (unless otherwise specified)',
 '2008',
 '2009',
 '2010']

<h2>CSV package</h2>

<a href="https://docs.python.org/2/library/csv.html">CSV package documentation</a>

The csv reader pretty much just automates the removal of quotes and the split.

In [10]:
import csv

In [11]:
govf = open('data/1-AEO2011.csv','r')
fcsv = csv.reader(govf,delimiter=',',quotechar='"')

In [12]:
header = next(fcsv)

In [13]:
## Detect when the new table begins, and append the data to a list of tables
all_tables = []
econtable = []
table_names = []
for l in fcsv:
    if "Table" in l[0]:
        if econtable: #strange - test the length
            all_tables.append(econtable)
        table_names.append(l[-2])
        econtable = []
    if len(l) > 7:
        econtable.append([x.strip() for x in l[2:7]] + [float(x.strip()) for x in l[7:]]) #stripped white space and converted numbers to float
all_tables.append(econtable)

In [19]:
if [1,2]: #processes the lenght of the list, if list is empty returns False
    print True

True

In [15]:
govf.close() #remember to close!!!

In [16]:
table_names

['Total Energy Supply, Disposition, and Price Summary, Reference case',
 'Total Energy Supply, Disposition, and Price Summary, High economic growth',
 'Total Energy Supply, Disposition, and Price Summary, Low economic growth',
 'Total Energy Supply, Disposition, and Price Summary, High oil price',
 'Total Energy Supply, Disposition, and Price Summary, Low oil price']

In [17]:
len(all_tables)

5

In [21]:
all_tables[0][0]

['Reference case',
 'United States',
 '4',
 'Crude Oil and Lease Condensate',
 'quadrillion Btu',
 10.51,
 11.34,
 11.87,
 11.76,
 11.58,
 12.02,
 12.4,
 12.51,
 12.82,
 13.07,
 13.12,
 13.17,
 13.07,
 13.05,
 13.09,
 12.97,
 12.78,
 12.64,
 12.5,
 12.44,
 12.53,
 12.48,
 12.49,
 12.63,
 12.91,
 13.01,
 13.04,
 12.8]

<h2>Pandas</h2>

<a href="http://pandas.pydata.org/pandas-docs/stable/io.html">Pandas I/O documentation</a>

Pandas can expedite this process since it will read the data directly into a Pandas dataframe.

In [22]:
import pandas as pd

econtable = pd.read_csv('data/1-AEO2011.csv',header=0)
print(type(econtable))
econtable = econtable.iloc[3:,2:].dropna() #drop the rows with NAs
econtable.head()

<class 'pandas.core.frame.DataFrame'>

,Case,Region,Row,Quantity,Units (unless otherwise specified),2008,2009,2010,2011,2012,...,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
3,Reference case,United States,4,Crude Oil and Lease Condensate,quadrillion Btu,10.51,11.34,11.87,11.76,11.58,...,12.50,12.44,12.53,12.48,12.49,12.63,12.91,13.01,13.04,12.80
4,Reference case,United States,5,Natural Gas Plant Liquids,quadrillion Btu,2.41,2.57,2.64,2.63,2.76,...,3.57,3.61,3.65,3.67,3.71,3.75,3.78,3.82,3.86,3.92
5,Reference case,United States,6,Dry Natural Gas,quadrillion Btu,20.83,21.50,21.83,21.61,21.83,...,24.70,24.92,25.21,25.47,25.75,26.02,26.22,26.42,26.67,27.00
6,Reference case,United States,7,Coal,quadrillion Btu,23.85,21.58,22.59,21.75,21.39,...,23.95,24.05,24.40,24.53,24.77,24.96,25.21,25.45,25.72,26.01
7,Reference case,United States,8,Nuclear Power,quadrillion Btu,8.43,8.35,8.39,8.40,8.50,...,9.17,9.17,9.17,9.17,9.17,9.17,9.16,9.16,9.15,9.14

In [23]:
econtable.shape
set(econtable['Case']) #the unique Cases in the table

{'High economic growth',
 'High oil price',
 'Low economic growth',
 'Low oil price',
 'Reference case'}

In [24]:
## We can read the table in chunks, the following will produce an iterator called the TextFileReader
econtable = pd.read_csv('data/1-AEO2011.csv',header=0,chunksize=10)
print(type(econtable))

<class 'pandas.io.parsers.TextFileReader'>

In [25]:
## As an iterator, we can call next
table = next(econtable)

In [26]:
## It produces a DataFrame, of shape chunksize x p (p is the number of variables in the table)
print(type(table))
table.head()

<class 'pandas.core.frame.DataFrame'>

,1-AEO2011,Unnamed: 1,Case,Region,Row,Quantity,Units (unless otherwise specified),2008,2009,2010,...,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
0,Table 1,"Total Energy Supply, Disposition, and Price Su...",Reference case,United States,1,"Total Energy Supply, Disposition, and Price Su...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Reference case,United States,2,"(quadrillion Btu, unless otherwise noted)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Reference case,United States,3,Production,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Reference case,United States,4,Crude Oil and Lease Condensate,quadrillion Btu,10.51,11.34,11.87,...,12.50,12.44,12.53,12.48,12.49,12.63,12.91,13.01,13.04,12.80
4,NaN,NaN,Reference case,United States,5,Natural Gas Plant Liquids,quadrillion Btu,2.41,2.57,2.64,...,3.57,3.61,3.65,3.67,3.71,3.75,3.78,3.82,3.86,3.92

## Reading in chunks with pandas

The previous code read in all of the data, and then we could do something with it.  Pandas gives an easy way to read the data in chunks that we can process in sequence.  I'll be taking the mean of the whole dataset.

In [27]:
import numpy as np # I'll use numpy for np.array

In [34]:
## Alternatively we can read the data in chunks
econreader = pd.read_csv('data/1-AEO2011.csv',header=0,chunksize=10)
#Esum, n = np.sum(np.array([et.sum(), et.shape[0]]) for et in econreader) ## Sum arrays with this genexp

In [35]:
et = next(econreader)

In [40]:
for et in econreader:
    print et

   1-AEO2011  Unnamed: 1            Case         Region  Row  \
0        NaN         NaN  Reference case  United States   11
1        NaN         NaN  Reference case  United States   12
2        NaN         NaN  Reference case  United States   13
3        NaN         NaN  Reference case  United States   14
4        NaN         NaN  Reference case  United States   15
5        NaN         NaN  Reference case  United States   16
6        NaN         NaN  Reference case  United States   17
7        NaN         NaN  Reference case  United States   18
8        NaN         NaN  Reference case  United States   19
9        NaN         NaN  Reference case  United States   20

                    Quantity Units (unless otherwise specified)   2008   2009  \
0     Other Renewable Energy                    quadrillion Btu   1.12   1.29
1                      Other                    quadrillion Btu   0.19   0.34
2                      Total                    quadrillion Btu  73.80  73.18
3                    Imports                                NaN    NaN    NaN
4                  Crude Oil                    quadrillion Btu  21.39  19.70
5               Liquid Fuels                    quadrillion Btu   6.32   5.40
6                Natural Gas                    quadrillion Btu   4.08   3.82
7              Other Imports                    quadrillion Btu   0.96   0.61
8                      Total                    quadrillion Btu  32.76  29.53
9                    Exports                                NaN    NaN    NaN

    2010  ...     2026   2027   2028   2029   2030   2031   2032   2033  \
0   1.54  ...     2.68   2.74   2.82   2.92   2.97   3.02   3.08   3.11
1   0.55  ...     0.82   0.78   0.78   0.78   0.81   0.80   0.79   0.79
2  75.64  ...    87.88  88.41  89.41  90.11  90.88  91.80  92.71  93.39
3    NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4  20.19  ...    18.44  18.41  18.32  18.28  18.30  18.19  18.02  17.99
5   4.53  ...     5.20   5.21   5.20   5.20   5.26   5.28   5.30   5.34
6   3.89  ...     3.15   3.12   3.05   3.06   3.07   3.07   3.06   3.02
7   0.55  ...     1.38   1.51   1.38   1.39   1.30   1.33   1.36   1.31
8  29.16  ...    28.18  28.26  27.95  27.94  27.93  27.88  27.73  27.67
9    NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

    2034   2035
0   3.16   3.22
1   0.78   0.78
2  94.09  94.59
3    NaN    NaN
4  18.07  18.44
5   5.34   5.33
6   2.95   2.87
7   1.29   1.27
8  27.65  27.92
9    NaN    NaN

[10 rows x 35 columns]
   1-AEO2011  Unnamed: 1            Case         Region  Row  \
0        NaN         NaN  Reference case  United States   21
1        NaN         NaN  Reference case  United States   22
2        NaN         NaN  Reference case  United States   23
3        NaN         NaN  Reference case  United States   24
4        NaN         NaN  Reference case  United States   25
5        NaN         NaN  Reference case  United States   26
6        NaN         NaN  Reference case  United States   27
7        NaN         NaN  Reference case  United States   28
8        NaN         NaN  Reference case  United States   29
9        NaN         NaN  Reference case  United States   30

           Quantity Units (unless otherwise specified)   2008   2009   2010  \
0         Petroleum                    quadrillion Btu   3.78   4.17   4.25
1       Natural Gas                    quadrillion Btu   1.01   1.09   1.06
2              Coal                    quadrillion Btu   2.07   1.51   1.93
3             Total                    quadrillion Btu   6.86   6.77   7.23
4       Discrepancy                    quadrillion Btu  -0.44   1.16  -0.20
5       Consumption                                NaN    NaN    NaN    NaN
6      Liquid Fuels                    quadrillion Btu  38.46  36.62  36.96
7       Natural Gas                    quadrillion Btu  23.85  23.31  24.45
8              Coal                    quadrillion Btu  22.38  19.69  21.05
9     Nuclear Power                    quadrillion Btu   8.43   8.35   8.39

   ...     2026   2027   2028   2029   2030   2031   2032   2033   2034   2035
0  ...     3.64   3.65   3.68   3.70   3.75   3.79   3.84   3.87   3.89   3.92
1  ...     2.11   2.16   2.19   2.24   2.24   2.30   2.36   2.45   2.53   2.64
2  ...     1.89   1.89   1.89   1.89   1.86   1.87   1.87   1.82   1.78   1.78
3  ...     7.64   7.70   7.76   7.82   7.85   7.96   8.07   8.14   8.20   8.34
4  ...    -0.12  -0.11  -0.11  -0.09  -0.07  -0.06  -0.05  -0.03  -0.03  -0.02
5  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
6  ...    39.94  40.04  40.18  40.31  40.55  40.81  41.02  41.25  41.47  41.70
7  ...    25.73  25.88  26.07  26.29  26.58  26.79  26.92  27.00  27.09  27.24
8  ...    22.88  23.04  23.20  23.28  23.39  23.53  23.72  23.89  24.10  24.30
9  ...     9.17   9.17   9.17   9.17   9.17   9.17   9.16   9.16   9.15   9.14

[10 rows x 35 columns]
   1-AEO2011  Unnamed: 1            Case         Region  Row  \
0        NaN         NaN  Reference case  United States   31
1        NaN         NaN  Reference case  United States   32
2        NaN         NaN  Reference case  United States   33
3        NaN         NaN  Reference case  United States   34
4        NaN         NaN  Reference case  United States   35
5        NaN         NaN  Reference case  United States   36
6        NaN         NaN  Reference case  United States   37
7        NaN         NaN  Reference case  United States   38
8        NaN         NaN  Reference case  United States   39
9        NaN         NaN  Reference case  United States   40

                                   Quantity  \
0                                Hydropower
1                                   Biomass
2                    Other Renewable Energy
3                                     Other
4                                     Total
5            Prices (2009 dollars per unit)
6     Low Sulfur Light Price ($ per barrel)
7   Imported Crude Oil Price ($ per barrel)
8        Gas Price at Henry Hub ($ / mmBtu)
9            Gas Wellhead Price ($ / mmBtu)

  Units (unless otherwise specified)    2008   2009   2010   ...      2026  \
0                    quadrillion Btu    2.53   2.69   2.40   ...      3.04
1                    quadrillion Btu    3.07   2.52   2.66   ...      4.83
2                    quadrillion Btu    1.12   1.29   1.54   ...      2.68
3                    quadrillion Btu    0.31   0.32   0.32   ...      0.27
4                    quadrillion Btu  100.14  94.79  97.77   ...    108.53
5                                NaN     NaN    NaN    NaN   ...       NaN
6                       $ per barrel  100.51  61.66  78.03   ...    118.99
7                       $ per barrel   93.44  59.04  74.86   ...    108.80
8                          $ / mmBtu    8.94   3.95   4.43   ...      6.10
9                          $ / mmBtu    7.96   3.62   3.98   ...      5.40

     2027    2028    2029    2030    2031    2032    2033    2034    2035
0    3.05    3.06    3.06    3.07    3.07    3.08    3.08    3.09    3.09
1    4.89    4.94    5.02    5.05    5.15    5.19    5.21    5.25    5.25
2    2.74    2.82    2.92    2.97    3.02    3.08    3.11    3.16    3.22
3    0.27    0.27    0.26    0.24    0.25    0.26    0.25    0.25    0.25
4  109.07  109.71  110.31  111.03  111.78  112.42  112.95  113.56  114.19
5     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
6  120.25  121.34  122.30  123.09  123.71  124.20  124.53  124.68  124.94
7  109.98  110.93  111.74  112.38  112.80  113.02  113.26  113.43  113.70
8    6.24    6.31    6.35    6.40    6.49    6.62    6.74    6.87    7.07
9    5.52    5.59    5.62    5.66    5.75    5.86    5.96    6.09    6.26

[10 rows x 35 columns]
   1-AEO2011  Unnamed: 1            Case         Region  Row  \
0        NaN         NaN  Reference case  United States   41
1        NaN         NaN  Reference case  United States   42
2        NaN         NaN  Reference case  United States   43
3        NaN         NaN  Reference case  United States   44
4        NaN         NaN  Reference case  United States   45
5        NaN         NaN  Reference case  United States   46
6        NaN         NaN  Reference case  United States   47
7        NaN         NaN  Reference case  United States   48
8        NaN         NaN  Reference case  United States   49
9        NaN         NaN  Reference case  United States   50

                                   Quantity  \
0              Gas Wellhead Price ($ / Mcf)
1            Coal Minemouth Price ($ / ton)
2    Coal Delivered Price ($ / million Btu)
3      Electricity (cents per kilowatthour)
4         Prices (nominal dollars per unit)
5     Low Sulfur Light Price ($ per barrel)
6   Imported Crude Oil Price ($ per barrel)
7        Gas Price at Henry Hub ($ / mmBtu)
8            Gas Wellhead Price ($ / mmBtu)
9              Gas Wellhead Price ($ / Mcf)

  Units (unless otherwise specified)   2008   2009   2010   ...      2026  \
0                            $ / Mcf   8.18   3.71   4.08   ...      5.54
1                            $ / ton  31.54  33.26  36.64   ...     33.50
2                    $ / million Btu   2.18   2.31   2.40   ...      2.37
3             cents per kilowatthour   9.80   9.80   9.60   ...      8.90
4                                NaN    NaN    NaN    NaN   ...       NaN
5                       $ per barrel  99.57  61.66  78.71   ...    160.21
6                       $ per barrel  92.57  59.04  75.52   ...    146.49
7                          $ / mmBtu   8.86   3.95   4.47   ...      8.21
8                          $ / mmBtu   7.89   3.62   4.01   ...      7.27
9                            $ / Mcf   8.10   3.71   4.12   ...      7.46

     2027    2028    2029    2030    2031    2032    2033    2034    2035
0    5.67    5.73    5.77    5.81    5.90    6.01    6.12    6.24    6.42
1   33.32   33.10   33.17   33.25   33.39   33.66   33.73   33.81   33.92
2    2.38    2.39    2.41    2.42    2.43    2.45    2.45    2.47    2.47
3    9.00    9.00    9.00    9.00    9.00    9.00    9.10    9.10    9.20
4     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
5  164.96  169.57  174.16  178.45  182.68  186.95  191.10  195.08  199.37
6  150.86  155.02  159.12  162.92  166.57  170.12  173.80  177.48  181.43
7    8.56    8.82    9.04    9.28    9.59    9.96   10.34   10.76   11.28
8    7.58    7.81    8.00    8.21    8.49    8.82    9.15    9.52    9.99
9    7.77    8.01    8.21    8.43    8.71    9.05    9.39    9.77   10.24

[10 rows x 35 columns]
  1-AEO2011                                         Unnamed: 1  \
0       NaN                                                NaN
1       NaN                                                NaN
2       NaN                                                NaN
3   Table 1  Total Energy Supply, Disposition, and Price Su...
4       NaN                                                NaN
5       NaN                                                NaN
6       NaN                                                NaN
7       NaN                                                NaN
8       NaN                                                NaN
9       NaN                                                NaN

                   Case         Region  Row  \
0        Reference case  United States   51
1        Reference case  United States   52
2        Reference case  United States   53
3  High economic growth  United States    1
4  High economic growth  United States    2
5  High economic growth  United States    3
6  High economic growth  United States    4
7  High economic growth  United States    5
8  High economic growth  United States    6
9  High economic growth  United States    7

                                            Quantity  \
0                     Coal Minemouth Price ($ / ton)
1             Coal Delivered Price ($ / million Btu)
2               Electricity (cents per kilowatthour)
3  Total Energy Supply, Disposition, and Price Su...
4          (quadrillion Btu, unless otherwise noted)
5                                         Production
6                     Crude Oil and Lease Condensate
7                          Natural Gas Plant Liquids
8                                    Dry Natural Gas
9                                               Coal

  Units (unless otherwise specified)   2008   2009   2010  ...     2026  \
0                            $ / ton  31.25  33.26  36.96  ...    45.11
1                    $ / million Btu   2.16   2.31   2.42  ...     3.19
2             cents per kilowatthour   9.70   9.80   9.70  ...    12.00
3                                NaN    NaN    NaN    NaN  ...      NaN
4                                NaN    NaN    NaN    NaN  ...      NaN
5                                NaN    NaN    NaN    NaN  ...      NaN
6                    quadrillion Btu  10.51  11.34  11.87  ...    12.59
7                    quadrillion Btu   2.41   2.57   2.64  ...     3.74
8                    quadrillion Btu  20.83  21.50  21.93  ...    25.83
9                    quadrillion Btu  23.85  21.58  22.43  ...    25.12

    2027   2028   2029   2030   2031   2032   2033   2034   2035
0  45.70  46.26  47.24  48.21  49.31  50.67  51.76  52.91  54.13
1   3.26   3.34   3.43   3.50   3.59   3.68   3.76   3.86   3.95
2  12.30  12.50  12.80  13.00  13.30  13.60  13.90  14.30  14.70
3    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
5    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
6  12.69  12.91  13.09  13.18  13.30  13.33  13.43  13.23  12.87
7   3.80   3.87   3.92   3.97   4.03   4.09   4.15   4.13   4.11
8  26.23  26.74  27.16  27.50  27.91  28.38  28.85  29.52  30.16
9  25.39  25.70  25.92  26.26  26.45  26.63  26.76  26.84  27.02

[10 rows x 35 columns]
   1-AEO2011  Unnamed: 1                  Case         Region  Row  \
0        NaN         NaN  High economic growth  United States    8
1        NaN         NaN  High economic growth  United States    9
2        NaN         NaN  High economic growth  United States   10
3        NaN         NaN  High economic growth  United States   11
4        NaN         NaN  High economic growth  United States   12
5        NaN         NaN  High economic growth  United States   13
6        NaN         NaN  High economic growth  United States   14
7        NaN         NaN  High economic growth  United States   15
8        NaN         NaN  High economic growth  United States   16
9        NaN         NaN  High economic growth  United States   17

                    Quantity Units (unless otherwise specified)   2008   2009  \
0              Nuclear Power                    quadrillion Btu   8.43   8.35
1                 Hydropower                    quadrillion Btu   2.53   2.69
2                    Biomass                    quadrillion Btu   3.94   3.52
3     Other Renewable Energy                    quadrillion Btu   1.12   1.29
4                      Other                    quadrillion Btu   0.19   0.34
5                      Total                    quadrillion Btu  73.80  73.18
6                    Imports                                NaN    NaN    NaN
7                  Crude Oil                    quadrillion Btu  21.39  19.70
8               Liquid Fuels                    quadrillion Btu   6.32   5.40
9                Natural Gas                    quadrillion Btu   4.08   3.82

    2010   ...     2026   2027   2028   2029   2030   2031   2032   2033  \
0   8.39   ...     9.17   9.17   9.17   9.17   9.17   9.17   9.16   9.16
1   2.40   ...     3.07   3.07   3.08   3.09   3.09   3.09   3.10   3.10
2   3.83   ...     7.66   7.91   8.10   8.31   8.49   8.76   8.96   9.16
3   1.54   ...     2.83   2.92   3.03   3.08   3.14   3.19   3.25   3.32
4   0.55   ...     0.81   0.78   0.78   0.78   0.79   0.81   0.85   0.86
5  75.59   ...    90.83  91.98  93.39  94.53  95.59  96.70  97.75  98.79
6    NaN   ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
7  20.19   ...    19.81  19.77  19.66  19.60  19.67  19.54  19.61  19.71
8   4.53   ...     5.69   5.72   5.77   5.81   5.91   6.08   6.12   6.08
9   3.90   ...     3.29   3.26   3.18   3.17   3.19   3.20   3.16   3.09

    2034    2035
0   9.15    9.14
1   3.10    3.10
2   9.36    9.58
3   3.41    3.46
4   0.87    0.88
5  99.61  100.33
6    NaN     NaN
7  19.98   20.43
8   6.16    6.22
9   2.89    2.79

[10 rows x 35 columns]
   1-AEO2011  Unnamed: 1                  Case         Region  Row  \
0        NaN         NaN  High economic growth  United States   18
1        NaN         NaN  High economic growth  United States   19
2        NaN         NaN  High economic growth  United States   20
3        NaN         NaN  High economic growth  United States   21
4        NaN         NaN  High economic growth  United States   22
5        NaN         NaN  High economic growth  United States   23
6        NaN         NaN  High economic growth  United States   24
7        NaN         NaN  High economic growth  United States   25
8        NaN         NaN  High economic growth  United States   26
9        NaN         NaN  High economic growth  United States   27

           Quantity Units (unless otherwise specified)   2008   2009   2010  \
0     Other Imports                    quadrillion Btu   0.96   0.61   0.56
1             Total                    quadrillion Btu  32.76  29.53  29.18
2           Exports                                NaN    NaN    NaN    NaN
3         Petroleum                    quadrillion Btu   3.78   4.17   4.25
4       Natural Gas                    quadrillion Btu   1.01   1.09   1.06
5              Coal                    quadrillion Btu   2.07   1.51   1.93
6             Total                    quadrillion Btu   6.86   6.77   7.24
7       Discrepancy                    quadrillion Btu  -0.44   1.16  -0.20
8       Consumption                                NaN    NaN    NaN    NaN
9      Liquid Fuels                    quadrillion Btu  38.46  36.62  36.96

   ...     2026   2027   2028   2029   2030   2031   2032   2033   2034   2035
0  ...     1.56   1.53   1.41   1.41   1.36   1.37   1.33   1.31   1.28   1.25
1  ...    30.35  30.28  30.02  30.00  30.13  30.18  30.22  30.20  30.31  30.69
2  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3  ...     3.74   3.76   3.80   3.86   3.89   3.92   3.97   3.99   4.02   4.05
4  ...     2.06   2.11   2.13   2.17   2.17   2.22   2.28   2.36   2.44   2.55
5  ...     1.89   1.89   1.89   1.89   1.89   1.88   1.88   1.84   1.76   1.77
6  ...     7.70   7.76   7.83   7.93   7.95   8.03   8.13   8.20   8.22   8.37
7  ...    -0.17  -0.19  -0.17  -0.16  -0.13  -0.12  -0.11  -0.05  -0.02   0.01
8  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9  ...    42.21  42.54  42.90  43.24  43.67  44.09  44.48  44.84  45.13  45.43

[10 rows x 35 columns]
   1-AEO2011  Unnamed: 1                  Case         Region  Row  \
0        NaN         NaN  High economic growth  United States   28
1        NaN         NaN  High economic growth  United States   29
2        NaN         NaN  High economic growth  United States   30
3        NaN         NaN  High economic growth  United States   31
4        NaN         NaN  High economic growth  United States   32
5        NaN         NaN  High economic growth  United States   33
6        NaN         NaN  High economic growth  United States   34
7        NaN         NaN  High economic growth  United States   35
8        NaN         NaN  High economic growth  United States   36
9        NaN         NaN  High economic growth  United States   37

                                 Quantity Units (unless otherwise specified)  \
0                             Natural Gas                    quadrillion Btu
1                                    Coal                    quadrillion Btu

In [36]:
et.shape

(10, 35)

In [38]:
et.sum()

Row     55.00
2008    72.50
2009    71.55
2010    73.55
2011    72.96
2012    73.04
2013    74.17
2014    74.72
2015    75.71
2016    76.51
2017    77.38
2018    78.18
2019    79.12
2020    80.16
2021    80.68
2022    81.59
2023    82.48
2024    83.36
2025    83.84
2026    84.38
2027    84.89
2028    85.82
2029    86.41
2030    87.11
2031    87.99
2032    88.83
2033    89.48
2034    90.14
2035    90.59
dtype: float64

In [37]:
np.array([et.sum(), et.shape[0]])

array([ Row     55.00
2008    72.50
2009    71.55
2010    73.55
2011    72.96
2012    73.04
2013    74.17
2014    74.72
2015    75.71
2016    76.51
2017    77.38
2018    78.18
2019    79.12
2020    80.16
2021    80.68
2022    81.59
2023    82.48
2024    83.36
2025    83.84
2026    84.38
2027    84.89
2028    85.82
2029    86.41
2030    87.11
2031    87.99
2032    88.83
2033    89.48
2034    90.14
2035    90.59
dtype: float64,
       10], dtype=object)

In [30]:
Esum

1-AEO2011                                 NaN
2008                                  4746.81
2009                                  3822.11
2010                                  4244.28
2011                                  4356.55
2012                                  4436.62
2013                                  4538.66
2014                                  4613.64
2015                                  4704.73
2016                                  4794.93
2017                                  4892.01
2018                                  4989.62
2019                                  5087.52
2020                                  5193.62
2021                                  5287.21
2022                                  5378.98
2023                                  5472.68
2024                                  5561.78
2025                                  5650.35
2026                                  5732.95
2027                                  5812.66
2028                                  5891.38
2029                                  5967.52
2030                                  6043.72
2031                                  6124.51
2032                                  6205.64
2033                                  6276.28
2034                                  6345.96
2035                                  6417.91
Case                                      NaN
Quantity                                  NaN
Region                                    NaN
Row                                      7155
Units (unless otherwise specified)        NaN
Unnamed: 1                                NaN
dtype: object

In [31]:
n

265

In [29]:
econmean = Esum / n ## Calculate the mean

In [32]:
print(econmean)

1-AEO2011                                 NaN
2008                                  17.9125
2009                                  14.4231
2010                                  16.0162
2011                                  16.4398
2012                                   16.742
2013                                   17.127
2014                                    17.41
2015                                  17.7537
2016                                  18.0941
2017                                  18.4604
2018                                  18.8288
2019                                  19.1982
2020                                  19.5986
2021                                  19.9517
2022                                   20.298
2023                                  20.6516
2024                                  20.9878
2025                                  21.3221
2026                                  21.6338
2027                                  21.9346
2028                                  22.2316
2029                                  22.5189
2030                                  22.8065
2031                                  23.1114
2032                                  23.4175
2033                                  23.6841
2034                                   23.947
2035                                  24.2185
Case                                      NaN
Quantity                                  NaN
Region                                    NaN
Row                                        27
Units (unless otherwise specified)        NaN
Unnamed: 1                                NaN
dtype: object